@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #cbf1f5;
  font-family: "Inter", sans-serif;
}
nav {
  background-color: #e3fdfd;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  padding: 1rem 3rem;
  /* border-radius: 50px; */
}
.alignItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
h5 {
  margin: 0 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.648);
}

#logo {
  font-weight: 700;
  font-size: 1.5rem;
  margin-left: 1rem;
}
.icon {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.imgSize {
  width: 1.5rem;
  height: 1.5rem;
}
#inputSearch {
  width: 20rem;
  padding: 0.73rem;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right: none;
}

#locationBtn {
  padding: 0.6rem;

  /* padding:.23rem; */
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left: none;
  background-color: #cbf1f5;
}
.searchSize {
  width: 1rem;
  height: 1rem;
}
.theme {
  background-color: #cbf1f5;
  /* color:white; */
  border-radius: 10px;
  padding: 0.5rem 1rem;
}
.notification {
  height: 2rem;
  width: 2rem;
}
.downIcon {
  height: 1rem;
  width: 1rem;
}
main {
  display: grid;
  /* margin-top: 40px; */
  grid-column: repeat(5, 1fr);
  grid-row: repeat(6, 1fr);
  grid-template-areas:
    "weather weather weather cast cast"
    "weather weather weather cast cast"
    "quality wind humidity cast cast"
    "visibility pressure uv cast cast"
    "footer footer footer cast cast"
    "footer footer footer cast cast";
  gap: 1rem;
  margin: 1rem;
  /* margin-top: 1rem; */
}
.box {
  border-radius: 10px;
  background-color: #e3fdfd;
}
#weatherTop {
  display: flex;
  justify-content: space-between;
}
.imgSize1 {
  width: 5rem;
  height: 4rem;
}
#clock{
  display: inline;
  font-size: 2.7rem;
  text-align: center;
}
.dial{
  display: flex;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
}
#weather {
  grid-area: weather;
}
.boxStyling{
  padding:1rem;

}
#weatherTop {
  display: flex;
}
#today , #days{
  margin-bottom: 2rem;
}
#cast {
  grid-area: cast;
  overflow: scroll;
  overflow-x: hidden;
  /* border:solid; */
}
.scroll{
  display:flex;
  border:solid;
  justify-content: space-evenly;
  margin: 1rem;
}
#time{
  padding: .5rem;
}
#summary {
  grid-area: footer;
}
#sun{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #d5f6fa;
  border-radius: 25px;
  margin-bottom: 1rem;
}
.sunSize{
  height: 2rem;
  width: 2rem;
}
#sunRiseTime{
  padding-left: .5rem;
}
#sunSetTime{
  padding-left: .5rem;
}
#moon{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #d5f6fa;
  border-radius: 25px;
}
#moonRiseTime{
  padding-left: .5rem;
}
#moonSetTime{
  padding-left: .5rem;
}

.aline{
  display: flex;
}
table {
  width:100%;
  height: 100%;
}
td , th {
text-align: center;
}
#tempChange{
  padding: .1rem;
  border-radius: 5px;
  border-color: rgb(0, 0, 0);
  background-color: #cbf1f5;
}